<header class="home-header">
  <div class="header-container">
    <div class="logo">
      <button routerLink="">JobPortal</button>
    </div>

    <div class="auth-buttons"> 
      <button *ngIf="isLoggedIn && role === 'employee'" routerLink="/felhasznaloprofil" class="btn-register">{{ user?.username}}'s profile</button>
      <button *ngIf="isLoggedIn && role === 'employer'" routerLink="/company-main" class="btn-register">{{ user?.username}}'s profile</button>
      <button *ngIf="isLoggedIn" routerLink="" (click)="logout()" class="btn-login">Logout</button>
      
      <ng-container *ngIf="!isLoggedIn">
        <a routerLink="/login" class="btn-login">Login</a>
        <a routerLink="/registration" class="btn-register">Register</a>
      </ng-container>
    </div>
  </div>
</header>