<header class="home-header">
  <div class="header-container">
    <div class="logo">
      <button routerLink="">JobPortal</button>
    </div>

    <div class="auth-buttons">
      <ng-container *ngIf="isLoggedIn">
        <span  routerLink="/company-main" class="btn-register">{{ user?.email}}</span>
        <button routerLink="" (click)="logout()" class="btn-login">Kijelentkezés</button>
      </ng-container>
      
      <ng-container *ngIf="!isLoggedIn">
        <a routerLink="/login" class="btn-login">Bejelentkezés</a>
        <a routerLink="/registration" class="btn-register">Regisztráció</a>
      </ng-container>
    </div>
  </div>
</header>