body {
  font-family: Arial, sans-serif;
  background: #99acff;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  margin: 0;
  padding-top: 30px;
}

h2
{
  color: black;
  font-size: 1.2rem;
  text-align: center;

}

.username, .password
{
  font-size: 1.2rem;
  font-weight: bold;
  margin: 10px;
  padding: 8px;
  width: 250px;
}

.logincontainer {
  background-color: yellow;
  border: 2px solid black;
  margin: 0 auto;
  padding: 10px;
  width: fit-content;
}


.h2 
{
  text-align: center;
  font-size: 2rem;
}
.h3
{
  text-align: center;
  font-size: 1.5rem;
}

.loginbutton, .registerbutton

{
  font-size: 1.1rem;
  padding: 10px;
  margin: 5px;
  border: black 2px solid;
  background: #ffffff;

}

.loginbutton{
  position: relative;
  left: 0%;
}

.registerbutton{
  position: relative;
  left: 0%;
}

.loginbutton:hover, .registerbutton:hover {
  background: #e2dcdc;
  cursor: pointer;
}

.buttons{
  background-color: rgb(209, 188, 188);
  position: relative;
  border : black 2px solid;
  top: 350px;
  
}

