body {
  font-family: Arial, sans-serif;
  background: #99acff 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  margin: 0;
  padding-top: 30px;
}

.loginbutton, .registerbutton

{
  font-size: 1.1rem;
  padding: 10px;
  margin: 5px;
  border: black 2px solid;
  background: #ffffff;

}

.loginbutton{
  position: relative;
  left: 0%;
}

.registerbutton{
  position: relative;
  left: 0%;
}

.loginbutton:hover, .registerbutton:hover {
  background: #1b8bbf;
  cursor: pointer;
}

.buttons{
  background-color: rgb(209, 188, 188);
  position: relative;
  border : black 2px solid;
  top: 350px;
  
}
