button {
  position : relative;
  left: 68%;
  width: 10%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.jobsbtn:hover{
  background-color: #043972;
}

.logoutbtn:hover{
  background-color: #043972;
}

.profilebtn:hover{
  background-color: #043972;
}