<div class="searchjobs-container">

  <div *ngIf="searchQuery || locationQuery" class="search-info">
  <p>Search preferences: <strong>{{ searchQuery }}</strong> {{ locationQuery ? 'in the following location: ' + locationQuery : '' }}</p>
  </div>

  <div *ngIf="searchResults.length === 0" class="no-results">
    <p>Not found.</p>
  </div>

  <div class="jobs-list">
    <div *ngFor="let job of searchResults" class="job-card">
      <h4>{{ job.title }}</h4>
      <p><strong>Company:</strong> {{ job.company }}</p>
      <p><strong>Location:</strong> {{ job.location }}</p>
      <p><strong>Salary:</strong> {{ job.salary || 'Nem adott meg' }}</p>
      <p>{{ job.description }}</p>
    </div>
  </div>
</div>
